{% extends 'layout.html' %}

{% block body %}

    <h1 class="font">Movie Recommender System</h1>
    <h3 class="font">The task is to build a movie recommender system, which asks a user to rate a small set of movies and based on
        these ratings, suggests more movies which will suit their taste.</h3>

    <br><br><br>

    <div id="name font">

        Designed and Developed by Abdullah Faiz Ur Rahman Khilji
        <br>
        Department of Computer Science and Engineering <br>
        National Institute of Technology Silchar

        <a href="https://abdullahkhilji.github.io/">https://abdullahkhilji.github.io/</a>
    </div>

{% endblock %}


