{% extends 'layout.html' %}

{% block body %}

    <div class="jumbotron text-center">
        <h1>Welcome</h1>
        <p class="lead">Register here for the Movie Recommender System</p>

        <form action="{{url_for('register')}}" method=POST>

            <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="UserName">
                <br>
                <input type="password" class="form-control" name="pass" placeholder="Password">
                <br>
                <button class="btn btn-primary" type="submit">
                    Register
                </button>
            </div>



        </form>


    </div>

{% endblock %}


