{% extends 'layout.html' %}

{% block body %}

<h1>Suggestions Displayed According to Matrix Factorization Algorithm.</h1>

<h2>List of Suggestions:</h2>

{% for item in movies %}

    <div class="movie_display">
        <h3>{{item[0].title}}</h3>
        <br>
        <div class="text-center">

            <div class="director">Directed By: {{item[0].director}}</div>
            <div class="year_of_release">{{item[0].year_of_release}}</div>
            <!--<img src="/images/{{item[0].imdb_id}}.jpg" alt="image">-->

            <img class="img-thumbnail thumbnail-class" src="{{ url_for('static', filename = '') }}images/{{item[0].imdb_id}}.jpg" alt="thumbnail_image">

            <div class="synopsis">
                <span class="synopsis_h">Synopsis: </span>
                <div class="synopsis_t">{{item[0].synopsis}}</div>
            </div>

            <div class="storyline">
                <span class="storyline_h">Storyline: </span>
                <div class="storyline_t">{{item[0].storyline}}</div>
            </div>


        </div>

    </div>








    {% endfor %}

{% endblock %}


